# DATA STRUCTURES

Boolean variables

They are two constant objects true or false
In numeric contexts(e.g. when used as argument to an arithematic operator) they behave like the integers 0 and 1 resp

In [1]:
print(True,False)

True False

In [2]:
type(True)

bool

Strings

In [8]:
#inbuilt functions in string
str = "data science and ml"
print(str.isalnum()) #check if all char are numbers
print(str.isalpha()) #check if all char are alphanumeric
print(str.isdigit()) #check if string contain digits
print(str.istitle()) #check if string contain title words(as title word contain cpital 1st letter)
print(str.isupper()) #check if all char are uppercase
print(str.islower()) #check if all char are lowercase
print(str.isspace()) #check if all char have space
print(str.endswith('l')) #check if string ends with
print(str.startswith('d'))

False
False
False
False
False
True
False
True
True

Boolean and logical operators
same as in other lang as and or not

# List

mutable,changeable,ordered sequence of elements.Each element inside of list is called as item
List is defined as values between Square bracket

In [ ]:
Example=[]

In [23]:
Example = ['ada',90]      #items can be of any datatype

In [24]:
Example

['ada', 90]

In [25]:
L = list()   #list can be created using inbuilt function as list()

In [26]:
L = ['y','u',78,90]

In [27]:
L

['y', 'u', 78, 90]

In [28]:
len(L)

4

inbuilt function for list

In [29]:
#append is used to append elements at last of list
Example.append("h")
Example

['ada', 90, 'h']

In [31]:
#indexing is accessing element at given index
Example[2]

'h'

In [32]:
Example[:]   # : as all elements

['ada', 90, 'h']

In [34]:
Example[1:]       #from 1 to end  can write range from where to where

[90, 'h']

In [35]:
#nested list
Example.append(['df',9089])
Example

['ada', 90, 'h', ['df', 9089]]

In [36]:
#insert in specific order
Example.insert(1,'hye')      #index item to insert

In [37]:
Example

['ada', 'hye', 90, 'h', ['df', 9089]]

In [40]:
#using extend method
L.extend([45,'gsza'])       #adding more than 1 item in list using extend dooesent create nested list like using append but it adds items directly

In [41]:
L

['y', 'u', 78, 90, 45, 'gsza', 45, 'gsza']

various operation that can be done on list

In [42]:
lst = [1,2,3]
sum(lst)

6

In [43]:
lst.pop()
lst

[1, 2]

count() calculates total occurence of given elem in list

In [44]:
lst.count(1)

1

In [47]:
lst.extend([34,34,2,78,9,90,90])
lst

[1, 2, 34, 34, 2, 78, 9, 90, 90, 34, 34, 2, 78, 9, 90, 90]

In [48]:
lst.count(90)

4

In [52]:
#index() returns index of first occurence. strt and end index arent necessary parameteres
lst.index(34)

2

In [55]:
lst.index(34,8,12)       #item to find,from index,until what index

9

In [56]:
min(lst)

1

In [57]:
max(lst)

90

In [58]:
lst*2 #2 times whole list get appended

[1,
 2,
 34,
 34,
 2,
 78,
 9,
 90,
 90,
 34,
 34,
 2,
 78,
 9,
 90,
 90,
 1,
 2,
 34,
 34,
 2,
 78,
 9,
 90,
 90,
 34,
 34,
 2,
 78,
 9,
 90,
 90]

# SET

Set is an unordered collection of data type that is iterable,mutable,and has no duplicates elements.Python's set class represents the mathematical notion of set. This is known as ds Hash Table

In [35]:
#defining an empty set
set1  = set()
type(set1)

set

In [36]:
set1 = {"Avengers","IronMan","spiderMan","blackPanther"}

In [37]:
set1

{'Avengers', 'IronMan', 'blackPanther', 'spiderMan'}

In [104]:
# whatever duplicates entered in set that will count only one time
set2 ={34,67,89,34,56}
set2

{34, 56, 67, 89}

In [106]:
#indexing in set
#set doesent support indexing
#instead you can ask if specified value is present in set using for loop
for i in set2:
    print(set2)

{56, 89, 34, 67}
{56, 89, 34, 67}
{56, 89, 34, 67}
{56, 89, 34, 67}

In [40]:
#inbuilt function for adding element if elem already present then it doesent add elem
set1.add("hulk")

In [41]:
set1

{'Avengers', 'IronMan', 'blackPanther', 'hulk', 'spiderMan'}

In [42]:
set3 = set1.copy()         #using copy() we can copy one set into other using shallow copy of the set 
set3.add("hulk3")
set3
#. If we use “=” to copy a set to another set, when we modify in the copied set, the changes are also reflected in the original set.

{'Avengers', 'IronMan', 'blackPanther', 'hulk', 'hulk3', 'spiderMan'}

In [45]:
set3.difference(set1)  #Returns the new set with the unique elements that are not in the another set passed as a parameter.

{'hulk3'}

In [44]:
set1

{'Avengers', 'IronMan', 'blackPanther', 'hulk', 'spiderMan'}

In [49]:
#difference_update method is used to find difference between two sets and then 
#modify further in existing set instead to creating new set
names = {"p","q","r","s"}
classes = {"p","l","k","s"}
result = names.difference_update(classes)
print(result)

None

In [53]:
names    #only difference will be updatedset

{'q', 'r'}

In [54]:
classes

{'k', 'l', 'p', 's'}

In [56]:
subjects = {"ds","ai","ml","os"}
subj_for_un = {"ds","os","st"}

In [57]:
subjects.intersection(subj_for_un)     #common elements

{'ds', 'os'}

In [60]:
subjects.intersection_update(subj_for_un)  #will update intersection elem like in diff_update
subjects

{'ds', 'os'}

In [61]:
set1.clear() #Removes all the elements from the set.

In [62]:
set1

set()

In [64]:
set2.discard(34)#Removes a specific element from the set.

In [65]:
set2

{56, 67, 89}

In [66]:
set1.isdisjoint(set2) #Returns true if the given sets have no common elements. Sets are disjoint if and only if their intersection is the empty set.

True

In [70]:
set3.pop()
set3

{'Avengers', 'blackPanther', 'hulk', 'hulk3', 'spiderMan'}

In [71]:
set3.remove("blackPanther")   #Removes the specified element from the set. If the specified element not found, raise an error.

In [72]:
set3

{'Avengers', 'hulk', 'hulk3', 'spiderMan'}

# Dictionaries

it is unordered,changeable and indexed.They are written with curly brackets and have keys and values

In [91]:
dic = {}

In [92]:
type(dic)

dict

In [93]:
#manual way of creating dict
dictionary = {"prachi":78,"isha":60,"lila":80}
dictionary

{'prachi': 78, 'isha': 60, 'lila': 80}

In [94]:
#access elem using key
dictionary["prachi"]

78

In [95]:
for x in dictionary.values(): #accessing values
    print(x)

78
60
80

In [96]:
for x in dictionary:        #accessing keys
    print(x)

prachi
isha
lila

In [97]:
for x in dictionary.items(): #accessing key and value
    print(x)

('prachi', 78)
('isha', 60)
('lila', 80)

In [98]:
#adding elem
dictionary['priya']=79
dictionary

{'prachi': 78, 'isha': 60, 'lila': 80, 'priya': 79}

In [99]:
#overwriting values if we update for smae key
dictionary["prachi"] = 90
dictionary

{'prachi': 90, 'isha': 60, 'lila': 80, 'priya': 79}

nested dictionary

In [100]:
dict1 = {'korea':'seol'}
dict2 = {'india':'delhi'}
dict3 = {'us':'ny'}

In [101]:
countries = {'c1':dict1,'c2':dict2,'c3':dict3}
print(countries)

{'c1': {'korea': 'seol'}, 'c2': {'india': 'delhi'}, 'c3': {'us': 'ny'}}

In [102]:
print(countries['c1']['korea']) #accessing elem in dictionary using indexinng

seol

# TUple

immutable, unchangeable written in round brackets

In [107]:
#defining tuple using inbuilt function tuple
tuple1 = tuple()

In [108]:
type(tuple1)

tuple

In [109]:
tuple1=("krish","ankur")

In [110]:
#elements in tuple wont get replaced as it is immuatble and whole tuple will get replaced with new tuple

In [113]:
tuple1.count("krish")

1

In [114]:
tuple1.index("ankur")

1

Methods that cannot be used for tuples:

append(), insert(), remove(), pop(), clear(), sort(), reverse()

we generally use ‘tuples’ for heterogeneous (different) data types and ‘lists’ for homogeneous (similar) data types.



Iterating through a ‘tuple’ is faster than in a ‘list’.


'Lists’ are mutable whereas ‘tuples’ are immutable.


Tuples that contain immutable elements can be used as a key for a dictionary.



Lists can be stored in tuples.